.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-footer>div {
  margin-right: 12px;
}

.post-image {
  -webkit-filter: brightness(100%);
}

.post-image:hover {
  -webkit-filter: brightness(90%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 0.3s ease;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.newsContainer {
    width: 70%;
}

.newsContainer li {
    /* padding-bottom: 12px; */
}

.newsContainer div {
    text-align: justify; 
    justify-text: auto;
}

@media (min-width: 640px) {
  .mainContainer {
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  .newsContainer {
    width: 100%;
  }
}

ul.no-bullets {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}